{%- assign html_content = nil -%}
{%- assign original_image_url = nil -%}
{%- assign credit = nil -%}
{%- assign license = nil -%}
{%- assign license_link = nil -%}

{%- capture original_image_url -%}
    {%- if include.image_url and include.image_url != nil and include.image_url != "" -%}
        {{- include.image_url -}}
    {%- elsif include.image_path -%}
        {%- if site.env != "production" -%}
            {{- include.image_path | relative_url | prepend: "https://carterpape.com" -}}
        {%- else -%}
            {{- include.image_path | absolute_url -}}
        {%- endif -%}
    {%- endif -%}
{%- endcapture -%}

{%- capture html_content -%}
    {%- if include.link -%}
        <a
            href="{% link {{ include.link }} %}"
            class="img-link"
        >
    {%- endif -%}
    <div class="img-wrapper">
        <picture class="{{site.env}}">
            <source
                type="image/webp"
                srcset="
                    https://images.weserv.nl?url={{ original_image_url }}&w=560&output=webp&we 1x,
                    https://images.weserv.nl?url={{ original_image_url }}&w=1120&output=webp&we 2x,
                    https://images.weserv.nl?url={{ original_image_url }}&w=1680&output=webp&we 3x,
                    https://images.weserv.nl?url={{ original_image_url }}&w=2240&output=webp&we 4x,
                "
            />
            <source
                type="image/jpeg"
                srcset="
                    https://images.weserv.nl?url={{ original_image_url }}&w=560&we 1x,
                    https://images.weserv.nl?url={{ original_image_url }}&w=1120&we 2x,
                    https://images.weserv.nl?url={{ original_image_url }}&w=1680&we 3x,
                    https://images.weserv.nl?url={{ original_image_url }}&w=2240&we 4x,
                "
            />
            <img
                {% if include.image_url and include.image_url != nil and include.image_url != "" %}
                    {% imagesize include.image_url:props?width=560 %}
                {% elsif include.image_path %}
                    {% imagesize include.image_path:props?width=560 %}
                {% endif %}
                src="https://images.weserv.nl?url={{ original_image_url }}&w=560&output=jpg&we"
                alt="{{ include.alt | escape }}"
            />
        </picture>
    </div>
    {%- if include.link or include.linked_file_name -%}
        </a>
    {%- endif -%}
{%- endcapture -%}

{%- if include.use_xmp -%}
    {%- capture xmp_creator -%}
        {%- xmp
            file_path = include.image_path
            property_namespace = "dc"
            property_name = "creator"
        -%}
    {%- endcapture -%}
    {%- assign credit = xmp_creator | prepend: 'image by ' -%}
    
    {%- capture license -%}
        {%- xmp
            file_path = include.image_path
            property_namespace = "xmpRights"
            property_name = "UsageTerms"
        -%}
    {%- endcapture -%}
    
    {%- capture license_link -%}
        {%- xmp
            file_path = include.image_path
            property_namespace = "xmpRights"
            property_name = "WebStatement"
        -%}
    {%- endcapture -%}
{%- else -%}
    {%- assign credit = include.credit | strip -%}
    {%- assign license = include.license | strip -%}
    {%- assign license_link = include.license_link | strip -%}
{%- endif -%}

{%- capture html_caption -%}
    {%- include authoring/caption_with_copying_info.html
        caption = include.caption
        credit = credit
        license = license
        license_link = license_link
    -%}
{%- endcapture -%}

{%- include authoring/figure.html
    html_content =  html_content
    html_caption =  html_caption
    class =         include.class
-%}
